<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Данные EasyPay</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <h5>Логин:</h5>
            <textarea nbInput required placeholder="Логин" #loginForm></textarea>
          </div>
          <div class="form-group">
            <h5>Пароль:</h5>
            <textarea nbInput required placeholder="Пароль" #passwordForm></textarea>
          </div>
          <p>{{this.responseMessage}}</p>
          <button type="button" nbButton status="success" (click)="updateEasyPay(loginForm.value, passwordForm.value)">Сохранить аккаунт</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>